.g-right {
    right: 0;
    width: 36%;
    border-left: 1px solid rgba(0,0,0,.06);
    background-color: #fff;
}

.g-left, .g-right {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .2s ease-in-out;
}