.register_body {
    width: 100%;
    height: 100%;
    /* font-weight:bold; */
    /* background: gray url(car.jpg) no-repeat; */
    /* background: gray url(../../../static/img/5.jpg) no-repeat; */
    background: #F2F2F2 no-repeat;
    /* background-size: 2000px; */
    /* background-size: auto; */
    /* background-size: 100%; */
    /* background-size: auto 100%; */
    background-size: cover;
    background-origin: content-box;
    background-position: center, left;
    opacity: 0.81;
}

.register_div {
    width: 300px;
    margin: 0 auto;
}

.register_logo {
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-family: "Hiragino Sans GB";
    font-weight: bold;
    font-size: 20px;
    /* color: aliceblue; */
    color: #0B243B;
    /* background-color: dodgerblue; */
    background-color: rgb(red, green, blue);
    /* margin: 150px 0 60px 100px; */
    margin: 50px 0 50px 31%;
    border: 1px solid #0B243B;
    border-radius: 50%;
    /* opacity: 0.7; */
}

.register-container {
    position: relative;
    top: 250px;
}

.register-form {
    margin: 200px auto;
}